variable "prefix" {
  type = string
  description = "The prefix to use for the infrastructure"
  default = ""
}

variable "region" {
  type = string
  description = "The AWS region to deploy the infrastructure"
  default = "us-west-2"
}

variable "awscli_profile" {
  type = string
  description = "The AWS CLI profile to use"
  default = ""
}

variable "ami_id" {
  type = string
  description = "The AMI ID to use for the infrastructure"
  default = ""
}

variable "key_name" {
  type = string
  description = "The key name to use for the infrastructure"
  default = ""
}

variable "head_instance_type" {
  type = string
  description = "The instance type for the head node"
  default = "m5.large"
}

variable "hf_token" {
  type        = string
  description = "HuggingFace API token for accessing gated models (e.g. Llama)"
  default     = ""
}